@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-duration: 0.8s;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-300 dark:bg-blue-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-400 dark:bg-blue-700;
  }
}